@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU+Guides&display=swap');
@import "tailwindcss";

@theme{
    --font-guides:"Playwrite CU Guides", cursive;
    --font-weight-blue:900;  
    /* --breakpoint-*: initial;
  --breakpoint-sm: 35rem;
  --breakpoint-md:	48rem;
  --breakpoint-lg:64rem;
   --breakpoint-xl:	80rem ;
   --breakpoint-2xl:96rem */
  

   
}